* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    line-height: 3;
    font-size: 18px;
}

.nav ul a {
    color: black;
}


.icons i {
    padding: 0 5px;
    color: black;
}
.div-main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 6rem;
    font-weight: bolder;
    font-size: 22px;
}
.div-main-boxes{
    display: flex;
    justify-content: space-around;
padding: 3.5rem 0;
    width: 80%;
    margin: 0 auto;
    height: 100vh;
}
.main1{
    display: flex;
    flex-direction: column;
}
.main2{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.main3{
    display: flex;
    flex-direction: column;
    margin-top:2rem;
}
#big-p{
    font-size: 18px;
font-weight: 500;
}
#lit-p{
    font-size: 14px;
}
.hr{
    width: 100%;
    margin-top: 0.5rem;
}
.div-main-boxes a{
    color: black;
}




footer {
    background-color: black;
    height: 300px;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    line-height: 1.5rem;
}

footer a {
    color: #FFFFFF;
}

.footer-2 {
    line-height: 2;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.footer-cent {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    padding: 0 20px;

}

.footer-icons {
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.footer-3 p {
    color: white;
}

#Btn-send {
    color: rgba(255, 255, 255, 0.34);
    background-color: #141414;
    padding: 9.5px;
    border-radius: 6px;
}

#top {
    margin-top: 3rem;
}

#Input {
    width: 200px;
    background-color: #D9D9D9;
    padding-left: 1rem;
    height: 35px;
    border-radius: 6px;
    border: none;

}

/* =========================== */
footer-fot {
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.fot-left p {
    padding: 3rem;
    color: rgba(94, 94, 94, 1);
}

.fot-right {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.fot-right img {
    height: 70px;
}

.line {
    height: 3px;
    width: 295px;
    background-color: #D9D9D9;

}

.right-line {
    display: flex;
    align-items: center;
}

.fot-right p {
    padding: 0 17px;
    color: rgba(94, 94, 94, 1);
}

.icons-i {
    position: absolute;
    top:7.4rem;
    right: 15rem;
    font-size: 16px;
}

.icons-i i {
    padding: 0 5px;
    color: black;
}

.content {
    display: flex;
    background-color: #F4F4F4;
    padding: 1rem 1rem;
    margin-bottom: 3.5rem;
}

.content-left p {
    background-color: #FA7A7A;
    color: white;
    padding: 0 5px;
}

.content-right {
    padding: 0 5px;
}








.swiper {
    display: none;
}

.burger {
    display: none;
}

.nav-links {
    display: none;
}

.burger .line2 {
    width: 30px;
    height: 3px;
    background-color: black;
}

.burger .line1,
.burger .line3 {
    width: 23px;
    height: 3px;
    background-color: black;
}

.line2 {
    margin: 3px 0;
}
.hr-line{
    display: none;
}




















@media screen and (max-width:768px){
.hr-line{
    display: block;
    width: 100%;
}
    
    nav>.ul-reset>.droppable {
        display: none;
    }

    nav {
        display: flex;
    }

    .icons-i {
        right: 0.5rem;
        top: 1.5rem;
        font-size: 20px;
    }

    .container-img img {
        max-width: 32px;
    }

    .icons-i {
        position: absolute;
        right: 0.5rem;
        top: 1.5rem;
        font-size: 20px;
    }
    .icons-i i{
        padding: 0 5px;
        color: black;
    }

    .form-control-box input {
        width: 100% !important;
    }

.div-main-boxes{
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 ;
    width: 90%;
    margin: 0 auto;
}
.div-main-boxes .main1{
    margin-top: 2rem;
}
.div-main-box{
    font-size: 16px;
}

footer {
    flex-direction: column;

    background-color: #86724C;
    padding: 0 !important;
    justify-content: flex-start;
    gap: 32px;
    height: 80%;
}

footer-fot {
    flex-direction: column-reverse;
    max-width: 90%;
    margin: 0 auto;
}

#Btn-send {
    background-color: white;
    color: #86724C;
    padding: 9.5px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

.btn-mor {
    background-color: #86724C;
    color: white;
    border: none;
}

.logo {
    margin: 0 !important;
}

.footer-1 {
    margin-top: 1rem;
}

.fot-left p {
    padding: 0 !important;
}

.fot-left {
    margin: 1rem auto;
}

.footer-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 90%;
    margin: 0 auto;
}

.footer-icons {
    justify-content: space-around;
    max-width: 80%;
    margin: 0 auto;
}

.text-footer-cont {
    max-width: 71%;
    margin: 0 auto;
}

#top {
    margin-top: 2rem;
}

.send-message-input {
    max-width: 70%;
    margin: 0.5rem auto 30px auto;
}

.text-footer-cont {
    max-width: 71%;
    margin: 0 auto;
}

.footer-3 {
    margin-bottom: 30px;
}

.footer-icons {
    justify-content: space-around;
    max-width: 80%;
    margin: 0 auto;
}

.main-content-name {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 18px;
}
.content-name-icon{
    position: absolute;
    left: 20px;
    cursor: pointer;
}
.content-name-icon i{
    color: black;
    font-size: 18px;
}

}